<div class="container">
    <img  src="https://3.bp.blogspot.com/-_TzEVIeQp04/XDALPzpeivI/AAAAAAAAABc/iyRaD7MAbkkkPzk0o6O5v60tZKuDcEAKQCLcBGAs/s1600/usuario.jpg" />
<section>
    <input class="input" type="text" placeholder="Nombre">
    <input class="input" type="text" placeholder="Apellido">
    <input class="input" type="text" placeholder="Usuario">
    <p>¿ Te identificas como?</p>
    
    <button >Hombre</button>
    <button >Mujer</button>
    <button >Otro</button>
    <div id="nac">
        <p>¿Cuándo Naciste?</p>

    <input class="date" type="text" placeholder="Dia">
    <input class="date" type="text" placeholder="mes">
    <input class="date" type="text" placeholder="año">
    </div>
    

    <p>¿Eres un? </p>
<div>
      <button >Inversionista</button>
    <button >padawan</button>
    <button >Emprendedor</button>
</div>
<div>
    <button >Inversionista</button>
    <button >padawan</button>
    <button >Emprendedor</button>
</div>
<p>
  ¿Dónde trabajas?

  </p>
  <div>
    <a href=""><button class="registro">¡Estoy listo!</button></a>
  </div>
  
</section>

</div>
